<launch>
  <arg name="event_mode" default="timer" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_domain_randomizer)/worlds/turtlebot3_world.world" />
    <arg name="gui" value="false" />
  </include>
  <node name="gazebo_gui" pkg="gazebo_domain_randomizer" type="gzclient" respawn="false" output="screen" />
<param name="camera_description1" command="cat $(find camera_tutorial)/urdf/depth_camera1.sdf"/>
<param name="camera_description2" command="cat $(find camera_tutorial)/urdf/depth_camera2.sdf"/>
<param name="camera_description3" command="cat $(find camera_tutorial)/urdf/depth_camera3.sdf"/>

<node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-x 2.8 -y 0.0 -z 1.5 -sdf -P 0.8 -Y 3.14 -R 0 -param camera_description1 -model depth_camera1" respawn="false" output="screen"/>
<node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-x -1.5 -y 2.5 -z 1.5 -sdf -P 0.8 -Y 5.23 -R 0 -param camera_description2 -model depth_camera2" respawn="false" output="screen"/>
<node name="spawn_urdf3" pkg="gazebo_ros" type="spawn_model" args="-x -1.5 -y -2.5 -z 1.5 -sdf -P 0.8 -Y 1.0467 -R 0 -param camera_description3 -model depth_camera3" respawn="false" output="screen"/>



</launch>
