<launch>
  <arg name="model_name" />
  <arg name="event_mode" default="timer" />
  <arg name="gazebo_ns" default="/gazebo" />
  <group ns="spawners">
    <node pkg="gazebo_domain_randomizer" name="spawner" type="spawner" args="-e $(arg event_mode) --gazebo_ns $(arg gazebo_ns)" output="screen" />
  </group>

  <rosparam file = "$(find gazebo_domain_randomizer)/spawn.yaml" />
</launch>
