<launch>
  <param name="robot_description" command="cat $(find camera_tutorial)/urdf/camera.urdf"/>
  <param name="object_description" command="cat $(find camera_tutorial)/urdf/tomato_soup_can.urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.0 -model example" respawn="false" output="screen"/>
  <node name="tomato_urdf" pkg="gazebo_ros" type="spawn_model" args="-param object_description -urdf -x 1.0 -y 0.0 -z 0.0 -model tomato" respawn="false" output="screen"/>
</launch>
